<ng-container *ngIf="line != null">
	<h2>{{line.name}}</h2>

	<h3>Live state</h3>
	<div id="line-map" class="line-map">
	</div>

	<div id="line-map-data" [attr.data-columns]="numColumns + leftBorder" data-targetElement="#line-map" data-rows="5" data-cellSize="10"
	 data-legendId="legend" data-grid="false" data-lineWidth="6" class="hidden">
		<ul [attr.data-color]="'rgb(' + line.color.r + ',' + line.color.g + ',' + line.color.b + ')'" [attr.data-label]="line.name"
		 data-textClass="stop-label">
			<li *ngFor="let stop of line.stops; trackBy: trackStopById; let i = index;" data-marker="station" data-labelPos="s" [attr.data-coords]="(leftBorder + math.round((numColumns - 1) * stop.relLinePos)) + ',2'">
				<a onclick="javascript:window.lineDetailsComponent.zone.run(() => window.lineDetailsComponent.instance.getCameraService().goToNode($(this).attr('data-node-id')));"
				 [attr.data-node-id]="stop.id">
					{{stop.name != null ? stop.name : '#' + (i+1)}}
					<span *ngIf="stop.numWaitingPassengers > 0" class="strong">
						({{stop.numWaitingPassengers}})
					</span>
				</a>
			</li>

			<li *ngIf="line.stops.length > 0" data-marker="station" data-labelPos="s" [attr.data-coords]="(leftBorder + numColumns - 1) + ',2'">
				{{line.stops[0].name != null ? line.stops[0].name : '#1'}}
			</li>
		</ul>

		<ul [attr.data-color]="'rgb(' + line.color.r + ',' + line.color.g + ',' + line.color.b + ')'" [attr.data-label]="'Vehicles on ' + line.name"
		 data-textClass="vehicle-label">
			<li *ngFor="let vehicle of line.vehicles; trackBy: trackVehicleById;" data-marker="@interchange" data-labelPos="n" [attr.data-coords]="(leftBorder + math.round(vehicle.relLinePos * (numColumns - 1))) + ',2'">
				<a onclick="javascript:window.lineDetailsComponent.zone.run(() => window.lineDetailsComponent.instance.getCameraService().goToVehicle($(this).attr('data-vehicle-id')));"
				 [attr.data-vehicle-id]="vehicle.id">
					{{vehicle.numPassengers}}/{{vehicle.maxNumPassengers}}
				</a>
			</li>
		</ul>
	</div>

	<h3>Details</h3>
	<div class="rw">
		<div class="col small-6">
			<div class="rw">
				<div class="col small-6">
					<h4>General</h4>

					<div class="box-item">
						<div class="title">
							Type
						</div>
						<div class="value">
							{{line.subService.replace("PublicTransport", "")}}
						</div>
					</div>

					<div class="box-item">
						<div class="title">
							Vehicles
						</div>
						<div class="value">
							{{line.vehicles.length}}
							<ng-container *ngIf="line.enqueuedVehiclePrefabs.length > 0">
								(+{{line.enqueuedVehiclePrefabs.length}})
							</ng-container>
						</div>
					</div>

					<div class="box-item">
						<div class="title">
							Stops
						</div>
						<div class="value">
							{{line.stops.length}}
						</div>
					</div>
				</div>
				<div class="col small-6">
					<h4>Passengers</h4>

					<div class="box-item">
						<div class="title">
							On board
						</div>
						<div class="value">
							{{getTransportLineService().getTotalNumLinePassengersOnBoard(line)}}
							/
							{{getTransportLineService().getTotalMaxNumLinePassengers(line)}}<br/>
							({{(getTransportLineService().getTotalNumLinePassengersOnBoard(line) / getTransportLineService().getTotalMaxNumLinePassengers(line)
								* 100).toFixed(1)}} %)
						</div>
					</div>

					<div class="box-item">
						<div class="title">
							Waiting
						</div>
						<div class="value">
							{{getTransportLineService().getTotalNumLineWaitingPassengers(line)}}
						</div>
					</div>
				</div>
			</div>

			<div class="rw">
				<div class="col small-6">
					<h4>Last week</h4>

					<div class="box-item">
						<div class="title">
							Passengers
						</div>
						<div class="value">
							{{getTransportLineService().getTotalNumLinePassengersLastWeek(line)}}
						</div>
					</div>

					<div class="box-item">
						<div class="title">
							Income
						</div>
						<div class="value currency">
							{{getTransportLineService().getAverageNumLinePassengers(line)}}
						</div>
					</div>
				</div>
				<div class="col small-6">
					<h4>Average</h4>
		
					<div class="box-item">
						<div class="title">
							Passengers
						</div>
						<div class="value">
							{{getTransportLineService().getAverageNumLinePassengers(line)}}
						</div>
					</div>

					<div class="box-item">
						<div class="title">
							Income
						</div>
						<div class="value currency">
							{{getTransportLineService().getAverageLineIncome(line)}}
						</div>
					</div>
				</div>
			</div>

			<!--<table>
				<tbody>
					<tr>
						<td class="strong">Color</td>
						<td><span class="colorBox" [ngStyle]="{'background-color': 'rgb(' + line.color.r + ',' + line.color.g + ',' + line.color.b + ')'}"></span></td>
					</tr>
					<tr>
						<td class="strong">Budget</td>
						<td class="percent">{{line.budgetInPercent}}</td>
					</tr>
				</tbody>
			</table>-->
		</div>
		<div class="col small-6">
			<ng-container *ngIf="line.allowedVehiclePrefabIndices.length > 0">
				<h4>Allowed vehicles</h4>
				<ul class="allowed-vehicles">
					<li *ngFor="let prefabName of allVehiclePrefabs; let i=index;">
						<label>
							<input type="checkbox" [value]="i" [checked]="line.allowedVehiclePrefabIndices.indexOf(i) >= 0 ? 'checked' : ''" (change)="toggleAllowedVehiclePrefab($event)" />
							{{prefabName}}
						</label>
					</li>
				</ul>

				<h4>Add vehicles</h4>
				<select #prefabSelect (change)="selectedPrefabIndex = $event.target.value;">
						<option *ngFor="let prefabIndex of line.allowedVehiclePrefabIndices; let i=index; let isOdd=odd; let isEven=even;" [value]="i">
							{{allVehiclePrefabs[prefabIndex]}}
						</option>
					</select>
				<button (click)="addTransportVehicle(line.id, selectedPrefabIndex)">Add vehicle</button>
			</ng-container>

			<ng-container *ngIf="line.enqueuedVehiclePrefabs.length > 0">
				<h4>Vehicles queued</h4>
				<table class="dataTable display">
					<thead>
						<tr>
							<th>Name</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let vehiclePrefab of line.enqueuedVehiclePrefabs; let i=index; let isOdd=odd; let isEven=even;" class="row" [class.odd]="isOdd"
						 [class.even]="isEven">
							<td>{{vehiclePrefab}}</td>
							<td><button (click)="removeTransportVehicle(line.id, i)">Dequeue</button></td>
						</tr>
					</tbody>
				</table>
			</ng-container>
		</div>
	</div>

	<div class="rw">
		<div class="col small-6">
			<h3>Vehicles</h3>
			<table class="dataTable display">
				<thead>
					<tr>
						<th>Name</th>
						<th>Passengers</th>
						<th>Passengers<br/>(last week)</th>
						<th>Income<br/>(last week)</th>
						<th>Passengers<br/>(average)</th>
						<th>Income<br/>(average)</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let vehicle of line.vehicles; let i=index; let isOdd=odd; let isEven=even;" class="row" [class.odd]="isOdd" [class.even]="isEven">
						<td>{{vehicle.name}}</td>
						<td class="text-right">{{vehicle.numPassengers}} / {{vehicle.maxNumPassengers}}</td>
						<td class="text-right">{{vehicle.lastWeekNumPassengers}}</td>
						<td class="text-right currency">{{(vehicle.lastWeekIncome / 100).toFixed(2)}}</td>
						<td class="text-right">{{vehicle.averageNumPassengers}}</td>
						<td class="text-right currency">{{(vehicle.averageIncome / 100).toFixed(2)}}</td>
						<td><button (click)="getCameraService().goToVehicle(vehicle.id)">Center camera</button> <button *ngIf="line.enqueuedVehiclePrefabs.length == 0"
							(click)="removeTransportVehicle(line.id, i)">Remove</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col small-6">
			<h3>Stops</h3>
			<table class="dataTable display">
				<thead>
					<tr>
						<th>Name</th>
						<th>District</th>
						<th>Waiting<br/>passengers</th>
						<th>Passengers<br/>last week</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let stop of line.stops; let isOdd=odd; let isEven=even; let i = index;" class="row" [class.odd]="isOdd" [class.even]="isEven">
						<td>{{stop.name != null ? stop.name : 'Stop #' + (i+1)}}</td>
						<td>{{stop.districtName == null ? 'None' : stop.districtName}}</td>
						<td class="text-right">{{stop.numWaitingPassengers}}</td>
						<td class="text-right">+ {{stop.lastWeekServedPassengers.incoming}} / - {{stop.lastWeekServedPassengers.outgoing}}</td>
						<td><button (click)="getCameraService().goToNode(stop.id)">Center camera</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</ng-container>